.bid{
  background-color: #c4d6b0;
  margin-top: 10%;
  margin: 4%;
  font-family: 'Righteous', cursive;
}
.bidcard{
  background-color: #c4d6b0;
  margin-top: 10%;
  font-family: 'Righteous', cursive;
  font-size: 200%;
}
.markYou{
  font-size: 200%;
  background-color: #a34f4e;
  margin-top: 10%;
  font-family: 'Righteous', cursive;
  border-radius: 100px;
  text-align: center;
}
.newRoll{
  font-size: 200%;
  background-color: #ffe6c3;
  margin-top: 10%;
  font-family: 'Righteous', cursive;
  border-radius: 100px;
  text-align: center;
}
.bidgiven{
  font-size: 200%;
  color: #ffe8c4;
  text-align: center;
  margin-top: 10%;
  font-family: 'Righteous', cursive;
}

.bullshit{
  font-size: 200%;
  background-color: #a34f4e;
  display: block;
  margin-left: auto;
  margin-right: auto ;
  margin-top: 10%;
  padding: 15%;
  font-family: 'Righteous', cursive;
}
.player1{
  border-radius: 100px;
  font-family: 'Righteous', cursive;
  font-size: 200%;
  text-align: center;
  margin-top: 5%;

  background-color: #c4d6b0;
}
.player2{
  border-radius: 100px;
  font-family: 'Righteous', cursive;
  font-size: 200%;
  text-align: center;
  background-color: #9dbbae;
  margin-top: 5%;

}
.player3{
  border-radius: 100px;
  font-family: 'Righteous', cursive;
  font-size: 200%;
  text-align: center;
  background-color: #577998;
  margin-top: 5%;

}
.player4{
  border-radius: 100px;
  font-family: 'Righteous', cursive;
  font-size: 200%;
  text-align: center;
  background-color: #c4b2bc;
  margin-top: 5%;

}

.di{
  background-color: #ffe8c4;
  border-radius: 100px;
  font-family: 'Righteous', cursive;
  font-size: 200%;
  text-align: center;
  margin-top: 5%;
}
