
  new-game-page {
    font-family: 'Righteous', cursive;
    font-size: 100%;
    text-align: center;
    .backgroundInput{
      border-radius: 50px;
      padding: 2.5%;
      background-color: #ffe8c4 !important;
    }

    .inputHere{
      background-color: #f2f2f2;
      padding: 5px 10px;
      font-size: 150%;
      border-radius: 50px;

    }
    .phraseCard{
      border-radius: 50px;
      background-color: #c4d6b0;
      margin-top: 20%;
      margin-bottom: 20%;
    }
    .create{
      margin-top: 20%;
      font-size: 200%;
      padding: 12%;
      background-color: #c4d6b0;

    }
    .phrasecard{
      font-size: 200%;
      color: white;
      background-color: #c4d6b0;

    }

  }
