.youWon{
display: block;
margin-left: auto;
margin-right: auto ;
margin-top: 40%;
padding:15%;
padding-top: 45%;
padding-bottom: 45%;
font-family: 'Righteous', cursive;
font-size: 400%;
background-color: #477998;
border-radius: 100px;
text-align: center;

}
.mainMenu{
  margin-top: 20%;
  font-size: 200%;
  background-color: #c4d6b0;

}
