.title{
  text-align: center;
  color: #ffe8c4;
  font-family: 'Righteous', cursive;
  font-size: 750%;
}
.buttons{
  display: block;
  margin-left: auto;
  margin-right: auto ;
  margin-top: 10%;
  padding: 15%;
  font-family: 'Righteous', cursive;
  font-size: 200%;
}
.new{
  background-color: #c4d6b0;
}

.join{
  background-color: #a34f4e;
}
