.youDone{
display: block;
margin-left: auto;
margin-right: auto ;
margin-top: 40%;
padding:15%;
padding-top: 45%;
padding-bottom: 45%;
font-family: 'Righteous', cursive;
font-size: 400%;
background-color: #a34f4e;

}
