.start{
  background-color: #ffe8c4;
  font-family: 'Righteous', cursive;
  font-size: 200%;
  text-align: center;
  margin-left: 20%;
}

.phrasecard{
  border-radius: 50px;
  background-color: #ffe8c4;
  margin-bottom: 5%;
  font-family: 'Righteous', cursive;
  font-size: 200%;
  text-align: center;
}
.playername1{
  border-radius: 100px;
  font-family: 'Righteous', cursive;
  font-size: 200%;
  text-align: center;
  margin-top: 5%;

  background-color: #c4d6b0;
}
.playername2{
  border-radius: 100px;
  font-family: 'Righteous', cursive;
  font-size: 200%;
  text-align: center;
  background-color: #9dbbae;
  margin-top: 5%;

}
.playername3{
  border-radius: 100px;
  font-family: 'Righteous', cursive;
  font-size: 200%;
  text-align: center;
  background-color: #577998;
  margin-top: 5%;

}
.playername4{
  border-radius: 100px;
  font-family: 'Righteous', cursive;
  font-size: 200%;
  text-align: center;
  background-color: #c4b2bc;
  margin-top: 5%;

}
